.img-stretched {
  width: 35%;
  height: auto;
  display: block;
}
}

body{
  font-family: Arial, sans-serif;
  background-color: grey;
  margin: 0;
  padding: 20px;
}

h1{
  color: green;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
  Geneva, Verdana, sans-serif;
  font-size: 40px;
}

p{
  font-family: 'Georgia', serif;
  line-height: 1.6;
  color: turquoise;
}

