.img-fluid {
  max-width: 250px;
  width: 100%;
  display: block;
  margin: 20px 0;
}

body{
  font-family: Arial, sans-serif;
  background-color: grey;
  margin: 0;
  padding: 20px;
}

h1{
  color: green;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
  Geneva, Verdana, sans-serif;
  font-size: 40px;
}

p{
  font-family: 'Georgia', serif;
  line-height: 1.6;
  color: turquoise;
}

